@model IEnumerable<OnlineExaminationSystems.UI.Models.Lesson.Lesson>

@{
    ViewData["Title"] = "Lessons";
}

<h1>Lessons</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
                <td>
                    <a class="btn btn-info" href="@Url.Action("Details", "Lesson", new { id = item.Id })">Details</a>
                </td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Exams", "Lesson", new { id = item.Id })">Exams</a>
                </td>
        </tr>
}
    </tbody>
</table>
