@model IEnumerable<OnlineExaminationSystems.UI.Areas.Academician.Models.Question.Question>

@{
    ViewData["Title"] = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Questions</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.QuestionText)</th>
            <th>@Html.DisplayNameFor(model => model.CorrectAnswer)</th>
            <th>@Html.DisplayNameFor(model => model.Option1)</th>
            <th>@Html.DisplayNameFor(model => model.Option2)</th>
            <th>@Html.DisplayNameFor(model => model.Option3)</th>
            <th>@Html.DisplayNameFor(model => model.ExamId)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.QuestionText)</td>
                <td>@Html.DisplayFor(modelItem => item.CorrectAnswer)</td>
                <td>@Html.DisplayFor(modelItem => item.Option1)</td>
                <td>@Html.DisplayFor(modelItem => item.Option2)</td>
                <td>@Html.DisplayFor(modelItem => item.Option3)</td>
                <td>
                    <button class="btn btn-sm btn-warning" onclick="openEditModal('@item.Id', '@item.QuestionText','@item.Option1', '@item.Option2', '@item.Option3','@item.CorrectAnswer', '@item.ExamId')">Edit</button>
                    <button class="btn btn-sm btn-danger" onclick="deleteQuestion('@item.Id')">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="CreateQuestion" asp-route-examId="@TempData["ExamId"]" class="btn btn-primary">Create New</a>
@if (@Model != null && @Model.FirstOrDefault() != null && @Model.FirstOrDefault().ExamId != null)
{
    <input id="editExamId" value="@Model?.FirstOrDefault().ExamId" hidden />
}

<!--EditModal-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="editId" name="id">
                    <div class="form-group">
                        <label for="editQuestionText">Question Text</label>
                        <input type="text" class="form-control" id="editQuestionText" name="QuestionText">
                    </div>
                    <div class="form-group">
                        <label for="editOption1">Option 1</label>
                        <input type="text" class="form-control" id="editOption1" name="Option1">
                    </div>
                    <div class="form-group">
                        <label for="editOption2">Option 2</label>
                        <input type="text" class="form-control" id="editOption2" name="Option2">
                    </div>
                    <div class="form-group">
                        <label for="editOption3">Option 3</label>
                        <input type="text" class="form-control" id="editOption3" name="Option3">
                    </div>
                    <div class="form-group">
                        <label for="editCorrectAnswer">Correct Answer</label>
                        <input type="text" class="form-control" id="editCorrectAnswer" name="CorrectAnswer">
                    </div>
                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-button">Save changes</button>
            </div>

            <script src="~/js/Question.js" asp-append-version="true"></script>
